<!--Bottom Navigation bar -->
<nav class="nav">
  <a href="{%url 'basePage'%}" class="nav__link" style="text-decoration:none;">
    <i class="material-icons nav__icon">home</i>
    <span class="nav__text">Home</span>
  </a>
  <a href="{%url 'indexPage'%}" class="nav__link nav__link--active" style="text-decoration:none;">
    <i class="fas fa-syringe nav__icon"></i>
    <span class="nav__text">Vaccine</span>
  </a>
  <a href="#" class="nav__link" style="text-decoration:none;">
    <i class="material-icons nav__icon">devices</i>
    <span class="nav__text">Devices</span>
  </a>
  <a href="#" class="nav__link" style="text-decoration:none;">
    <i class="material-icons nav__icon">lock</i>
    <span class="nav__text">Privacy</span>
  </a>
  <a href="#" class="nav__link" style="text-decoration:none;">
    <i class="material-icons nav__icon">settings</i>
    <span class="nav__text">Settings</span>
  </a>
</nav>
</body>
</html>